@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Arbutus+Slab&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: "ヒラギノ角ゴ ProN", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1.6rem;
  color: #333;
  overflow-x: hidden;
}

.clearfix {
  min-height: 1px;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

* html .clearfix {
  height: 1px;
}

/* iphone submit css reset */
input[type="submit"],
input[type="button"] {
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  box-sizing: border-box;
  cursor: pointer;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

a {
  text-decoration: none;
}

a img:hover {
  opacity: .9;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.pc {
  display: none;
}

input[type=text] {
  font-size: 16px;
}

@media screen and (min-width: 701px) {
  .sp {
    display: none;
  }
  .pc {
    display: block;
  }
  img {
    width: inherit;
  }
}

.l-container {
  width: 90%;
  margin: 0 auto;
}

@media all and (min-width: 701px) {
  .l-container {
    width: 980px;
    margin: 0 auto;
  }
  .l-flex {
    display: flex;
    flex-wrap: wrap;
  }
}

.c-logo {
  display: inherit;
  text-align: center;
  margin: 20px 0 18px;
}

@media screen and (max-width: 700px) {
  .c-logo {
    margin: 12px auto;
    width: 80%;
    max-width: 364px;
  }
  .c-logo img {
    width: 100%;
  }
}

.c-top-border {
  border-top: 1px solid #707070;
  padding-top: 4px;
}

.c-mt-minus {
  margin-top: -6px;
}

.c-mt-8 {
  margin-top: 8px;
}

.c-center {
  text-align: center;
}

.c-red {
  color: #B50011;
}

.bg {
  background-image: url("../images/tour_bg.jpg");
  background-size: cover;
  background-position: 50% 0%;
}

.main-visual--copy {
  background: #E20000;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  padding: 18px 0;
}

@media screen and (max-width: 700px) {
  .main-visual--copy {
    font-size: 1.6rem;
  }
}

.main-visual--img img {
  width: 100%;
}

.tour {
  padding: 32px 0 80px;
}

.tour--schedule {
  width: 498px;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .tour--schedule {
    width: 90%;
    max-width: 670px;
  }
}

.tour--campaign__img {
  width: 849px;
  margin: 48px auto 32px;
}

@media screen and (max-width: 700px) {
  .tour--campaign__img {
    width: 90%;
    max-width: 672px;
  }
}

.tour--booking {
  margin: 40px 0 0;
}

@media screen and (max-width: 700px) {
  .tour--booking {
    margin: 24px 0 0;
  }
}

.tour--booking-copy {
  text-align: center;
  font-size: 3rem;
  color: #B50011;
  font-weight: bold;
}

.tour--booking-btn {
  width: 416px;
  font-size: 2.4rem;
  text-align: center;
  display: inline-block;
  background: #B50011;
  color: #F8EF03;
  border-radius: 5px;
  padding-top: 8px;
  margin-top: 12px;
}

.tour--booking-btn:hover {
  opacity: .7;
}

@media screen and (max-width: 700px) {
  .tour--booking-btn {
    font-size: 2.2rem;
    width: 90%;
    max-width: 416px;
    line-height: 1.3;
  }
}

.event--ttl {
  width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .event--ttl {
    width: 96%;
    max-width: 500px;
  }
}

.event--ttl img {
  width: 100%;
}

.event--conts__bg {
  background-image: url("../images/event_bg.png");
  background-size: cover;
  background-position: 50% 0%;
  margin-top: -60px;
  padding-bottom: 72px;
}

@media screen and (max-width: 700px) {
  .event--conts__bg {
    background-image: url("../images/sp/event_bg.png");
    margin-top: -10px;
    padding-bottom: 48px;
  }
}

.event--conts {
  display: flex;
  width: 980px;
  margin: 0 auto;
  padding-top: 240px;
  color: #fff;
  line-height: 28px;
  font-size: 1.8rem;
}

@media screen and (max-width: 700px) {
  .event--conts {
    display: block;
    width: 96%;
    max-width: 500px;
    padding-top: 130px;
  }
  .event--conts img {
    width: 100%;
  }
}

.event--cont {
  display: flex;
  flex-wrap: wrap;
  width: 310px;
}

@media screen and (max-width: 700px) {
  .event--cont {
    width: 96%;
    max-width: 500px;
    font-size: 1.4rem;
    line-height: 1.5;
  }
}

.event--cont__01-ttl {
  margin-bottom: -25px;
}

@media screen and (max-width: 700px) {
  .event--cont__01-ttl {
    margin-bottom: 0;
  }
}

.event--cont__01-desc {
  position: relative;
}

@media screen and (max-width: 700px) {
  .event--cont__01-desc {
    width: 70%;
  }
}

.event--cont__01-desc img {
  position: absolute;
  bottom: -40px;
  right: 0;
}

@media screen and (max-width: 700px) {
  .event--cont__01-desc img {
    width: 120px;
    bottom: -36px;
    right: -120px;
  }
}

.event--cont__02 {
  margin: 0 25px;
}

@media screen and (max-width: 700px) {
  .event--cont__02 {
    margin: 40px 0 0;
  }
}

.event--cont__02-ttl {
  margin: 8px 0 12px;
}

.event--cont__02-icon {
  width: 38%;
  max-width: 140px;
  margin-top: 40px;
}

@media screen and (max-width: 700px) {
  .event--cont__02-sp {
    width: 60%;
    margin-left: 2%;
  }
}

.event--cont__03-ttl {
  margin: 20px 0 0;
}

@media screen and (max-width: 700px) {
  .event--cont__03-sp {
    width: 68%;
    margin: 46px 2% 0 0;
  }
}

.event--cont__03-icon {
  width: 30%;
  max-width: 140px;
  margin-top: 40px;
}

.present--flag {
  width: 980px;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .present--flag {
    width: 100%;
  }
  .present--flag img {
    width: 100%;
  }
}

.present--conts__img {
  width: 806px;
  margin: 12px auto 40px;
}

@media screen and (max-width: 700px) {
  .present--conts__img {
    width: 96%;
    margin: 24px auto 32px;
  }
}

.info {
  padding: 48px 0 100px;
}

@media screen and (max-width: 700px) {
  .info {
    padding: 48px 0 60px;
  }
}

.info--ttl {
  font-size: 3rem;
  width: 320px;
  margin: 0 auto;
  text-align: center;
  padding: 8px 0;
  border: 1px solid #707070;
}

@media screen and (max-width: 700px) {
  .info--ttl {
    font-size: 2.6rem;
    width: 90%;
    max-width: 670px;
  }
}

.info--table__img {
  width: 878px;
  margin: 40px auto;
}

@media screen and (max-width: 700px) {
  .info--table__img {
    width: 90%;
    max-width: 670px;
  }
}

.info--map {
  width: 980px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .info--map {
    width: 96%;
  }
}

@media screen and (max-width: 700px) {
  .info--map iframe {
    width: 100%;
    height: 400px;
  }
}

.info--map a {
  text-decoration: underline;
}

.interior--ttl {
  font-size: 3rem;
  text-align: center;
  background-image: url(../images/interior_ttl_bg.png);
  background-size: cover;
  background-position: 50% 0%;
  padding: 80px 0 70px;
}

@media screen and (max-width: 700px) {
  .interior--ttl {
    background-image: url(../images/sp/interior_ttl_bg.png);
    padding: 70px 0 50px;
  }
  .interior--ttl img {
    width: 54%;
    max-width: 376px;
  }
}

.interior--bg {
  background: #D3E0D5;
}

@media screen and (max-width: 700px) {
  .interior--bg {
    margin-top: -6px;
  }
}

.interior--conts {
  width: 980px;
  margin: 0 auto 80px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
  .interior--conts {
    width: 96%;
    margin: 0 auto 40px;
  }
}

.interior--cont {
  margin-right: 18px;
}

.interior--cont:nth-child(4) {
  margin-right: 0;
}

@media screen and (max-width: 700px) {
  .interior--cont {
    flex-shrink: 0;
    width: 48%;
    margin-right: 4%;
    margin-bottom: 20px;
  }
  .interior--cont:nth-child(2), .interior--cont:nth-child(4) {
    margin-right: 0;
  }
  .interior--cont img {
    width: 100%;
  }
}

.interior--cont p {
  font-size: 1.8rem;
  color: #398427;
  margin-top: 8px;
}

.price--ttl {
  font-size: 3rem;
  text-align: center;
  background-image: url(../images/price_ttl_bg.png);
  background-size: cover;
  background-position: 50% 0%;
  padding: 100px 0 20px;
}

@media screen and (max-width: 700px) {
  .price--ttl {
    background-image: url(../images/sp/price_ttl_bg.png);
    padding: 70px 0 20px;
  }
  .price--ttl img {
    width: 60%;
    max-width: 449px;
  }
}

.price--conts {
  width: 750px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
}

@media screen and (max-width: 700px) {
  .price--conts {
    display: block;
    width: 100%;
    margin: -6px auto 0;
    background: #fff;
  }
}

.price--cont {
  width: 342px;
}

@media screen and (max-width: 700px) {
  .price--cont {
    margin: 0 auto;
  }
}

.price--cont__left {
  margin-right: 66px;
}

@media screen and (max-width: 700px) {
  .price--cont__left {
    margin-right: inherit;
  }
}

.price--cont__right {
  margin-top: 140px;
}

@media screen and (max-width: 700px) {
  .price--cont__right {
    margin-top: 60px;
  }
}

.price--cont-ttl img {
  width: 100%;
}

.price--floor img {
  margin: 16px 0 12px;
}

.price--wrap {
  width: 320px;
  margin: 0 11px;
}

.price--wrap p {
  width: 300px;
  margin: 0 auto;
}

.price--wrap-catch {
  background: #B50011;
  color: #fff;
  font-size: 2.6rem;
  text-align: center;
  padding: 4px 0;
  margin: 16px 0 10px;
}

.price--wrap-cost {
  width: fit-content;
  margin: 24px auto 16px;
}

@media screen and (max-width: 700px) {
  .price--wrap-cost {
    width: 70%;
    max-width: 418px;
  }
}

.price--wrap-cost__strong {
  font-size: 6rem;
  font-weight: bold;
  color: #B50011;
}

.price--wrap-cost__unit {
  float: right;
  font-size: 2.1rem;
  text-align: center;
  line-height: 1.2;
  margin: 21px 0 0 12px;
}

.price--ex {
  margin-top: 60px;
}

.price--ex-ttl {
  text-align: center;
  font-size: 1.8rem;
  margin: 0 auto 10px;
}

.price--ex-catch {
  border: 1px solid #B50011;
  border-radius: 5px;
  color: #B50011;
  text-align: center;
  padding: 8px 0;
  font-size: 2rem;
  margin-bottom: 18px;
}

.price--ex p {
  width: 300px;
  margin: 0 auto;
  line-height: 1.8;
}

.point {
  background: #84540F;
  padding: 40px 0;
}

@media screen and (max-width: 700px) {
  .point {
    padding: 20px 0;
  }
}

.point--conts__img {
  width: 716px;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .point--conts__img {
    width: 88%;
    max-width: 630px;
  }
}

.covid {
  width: 880px;
  margin: 60px auto;
  border: 1px solid #B50011;
  border-radius: 10px;
  padding: 40px 50px 10px;
}

@media screen and (max-width: 700px) {
  .covid {
    width: 96%;
    padding: 20px 0 0;
  }
}

.covid--ttl {
  text-align: center;
  font-weight: bold;
  font-size: 2.6rem;
  color: #B50011;
  margin-bottom: 32px;
}

@media screen and (max-width: 700px) {
  .covid--ttl {
    margin-bottom: 16px;
  }
}

.covid--subttl {
  background: #B50011;
  color: #fff;
  padding: 8px 20px;
  margin-bottom: 12px;
  font-size: 2rem;
  border-radius: 6px;
}

@media screen and (max-width: 700px) {
  .covid--subttl {
    width: 84%;
    margin: 0 auto 12px;
    font-size: 1.7rem;
  }
}

.covid--desc {
  color: #B50011;
  margin-bottom: 32px;
}

.covid--desc span {
  font-size: 1.2rem;
}

@media screen and (max-width: 700px) {
  .covid--desc {
    width: 92%;
    margin: 0 auto 32px;
  }
}

.form {
  background: #EFE6D6;
  padding: 32px 0 56px;
}

.form--ttl {
  text-align: center;
  font-size: 3rem;
}

.form--desc {
  text-align: center;
  font-size: 2.1rem;
  margin: 24px 0;
}

@media screen and (max-width: 700px) {
  .form--desc {
    font-size: 1.6rem;
    margin: 12px 0 24px;
  }
}

.form--step {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #707070;
  margin-bottom: 56px;
}

@media screen and (max-width: 700px) {
  .form--step {
    margin-bottom: 36px;
  }
}

.form--step-item {
  width: 325px;
  text-align: center;
  font-size: 2rem;
  border-right: 1px solid #707070;
  line-height: 1.2;
  padding-bottom: 6px;
  background: #fff;
}

@media screen and (max-width: 700px) {
  .form--step-item {
    width: calc(99.33% / 3);
    font-size: 1.6rem;
    padding-top: 6px;
  }
}

.form--step-item:nth-child(3) {
  border-right: none;
}

.form--step-item span {
  font-size: 1.2rem;
}

.form--step-item__here {
  background: #96815C;
  color: #fff;
}

.e-form--table {
  margin-top: 24px;
}

@media screen and (max-width: 700px) {
  .e-form--table {
    width: 96%;
  }
  .e-form--table tbody {
    width: 100%;
  }
}

.e-wrap {
  margin-top: 24px;
  display: table;
}

@media screen and (max-width: 700px) {
  .e-wrap {
    width: 100%;
    display: block;
  }
}

.e-wrap__note {
  font-size: 1.4rem;
  padding: 4px 0 0 294px;
}

@media screen and (max-width: 700px) {
  .e-wrap__note {
    padding: 4px 0 0;
  }
}

.e-must {
  width: 80px;
  background: #B50011;
  color: #fff;
  text-align: center;
  padding: 8px 0;
}

@media screen and (max-width: 700px) {
  .e-must {
    width: 70px;
    padding: 4px 0;
  }
}

.e-must__any {
  background: #ABABAC;
}

.e-ttl {
  width: 170px;
  font-size: 1.8rem;
  padding: 0 20px;
}

.e-ttl__any {
  width: auto;
}

@media screen and (max-width: 700px) {
  .e-ttl__any {
    font-size: 1.6rem;
  }
}

.e-subttl {
  width: 290px;
}

.e-value {
  width: 690px;
}

.e-value__area {
  width: 980px;
}

@media screen and (max-width: 700px) {
  .e-value {
    display: block;
    width: 100%;
    margin-top: 8px;
  }
}

.e-input {
  width: 670px;
  padding: 8px;
  font-size: 1.8rem;
}

@media screen and (max-width: 700px) {
  .e-input {
    width: 100%;
    padding: 8px;
    font-size: 1.4rem;
  }
}

.e-select {
  width: 690px;
  padding: 6px 0 10px;
  font-size: 1.8rem;
  color: #777;
}

@media screen and (max-width: 700px) {
  .e-select {
    width: 104%;
    font-size: 1.6rem;
  }
}

.e-textarea {
  width: 960px;
}

@media screen and (max-width: 700px) {
  .e-textarea {
    width: 100%;
    font-size: 1.6rem;
  }
}

.e-form--note__day {
  border: 1px solid #B50011;
  color: #B50011;
  padding: 12px;
  margin: 24px 0;
}

.e-form--note__time {
  color: #B50011;
  margin: 24px 0 36px;
}

.e-form--tel__sp {
  width: 240px;
  background: #F39800;
  color: #fff;
  text-align: center;
  padding: 12px 0;
  display: inline-block;
}

.e-form--tel__pc img {
  width: 350px;
}

.e-policy {
  background: #D6D2D2;
  padding: 20px 0;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 24px;
}

@media screen and (max-width: 700px) {
  .e-policy {
    font-size: 1.4rem;
  }
  .e-policy label {
    font-size: 1.8rem;
  }
}

.e-policy-desc {
  margin-bottom: 16px;
}

.e-policy-desc a {
  text-decoration: underline;
}

.e-submit {
  display: block;
  background: #F39800;
  color: #fff;
  margin: 16px auto 0;
  padding: 12px 50px;
  font-size: 2rem;
  border: none;
  border-radius: 6px;
}

.e-error {
  color: #B50011;
  font-size: 1.4rem;
}

.e-error__policy {
  text-align: center;
  margin-top: 8px;
}

.ui-widget-header {
  background: #B50011 !important;
}

.promise {
  width: 600px;
  margin: 0 auto;
  padding: 32px 0 48px;
}

@media screen and (max-width: 700px) {
  .promise {
    width: 90%;
  }
}

.promise--ttl {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.promise--ttl:before, .promise--ttl:after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #444;
  display: block;
}

.promise--ttl:before {
  margin-right: 10px;
}

.promise--ttl:after {
  margin-left: 10px;
}

.copy-right {
  background: #B50011;
  color: #fff;
  text-align: center;
  padding: 16px 0;
  font-size: 1.2rem;
}

.confirm {
  margin: 40px 0;
}

.confirm--ttl {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 24px;
}

@media screen and (max-width: 700px) {
  .confirm--ttl {
    font-size: 2.4rem;
  }
}

.confirm--wrap {
  width: 800px;
  margin: 0 auto;
  font-size: 2rem;
}

@media screen and (max-width: 700px) {
  .confirm--wrap {
    width: 98%;
    font-size: 1.6rem;
  }
}

.confirm--item__head {
  width: 300px;
  font-weight: bold;
  padding-bottom: 16px;
}

.confirm--item__body {
  padding-bottom: 16px;
}

.confirm--submit {
  background: #D6D2D2;
  padding: 40px 0;
  margin-top: 32px;
}

.confirm--send {
  text-align: center;
}

.confirm--send input {
  background: #F39800;
  color: #fff;
  padding: 12px 80px;
  font-size: 2rem;
  border: none;
  border-radius: 6px;
}

.confirm--fix {
  text-align: center;
  margin-top: 24px;
}

.confirm--fix input {
  border: none;
  background: inherit;
  font-size: 1.6rem;
}

.finish {
  margin-top: 80px;
  text-align: center;
  height: 66vh;
}

.finish--ttl {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
}

@media screen and (max-width: 700px) {
  .finish--ttl {
    font-size: 2.4rem;
  }
}

.finish--totop {
  margin: 40px 0 24px;
  color: #333;
}

.finish--website {
  background: #d6d6d6;
  padding: 8px 0;
  color: #fff;
  width: 220px;
  margin: 0 auto;
}
